.maincontainer {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	padding-bottom: 0px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.postcontainer {
	width: 100%;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	margin-bottom: 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}
.postcontainer:hover {
	background-color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
}

.lastconfession {
	margin-bottom: 20px;
}
.confessionText {
	margin-bottom: 20px;
}
